.loginSection {
  padding-top: 5rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.btn {
  width: 10rem;
  height: 35px;
  border: none;
  background-color: #a56aff;
  color: white;
  font-weight: 700;
  border-radius: 7px;
}

.btn:hover {
  background-color: #c097ff;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form input {
  width: 15rem;
  padding: 1.5rem 0.5rem;
  border: 1px solid rgb(107, 107, 107);
}
